@media (max-width: 767px) {
  body {
      padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
  }
}

body {
    padding-top: 40px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.updates {
  color: red;
}
