@media (max-width: 767px) {
    body {
        padding-top: 50px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }
}

@media print {
    .container {
        width:100%;
    }

    article {
        -webkit-column-count:2;
        -moz-column-count:2;
        column-count:2;
    }

    .page-break	{
        display: block;
        page-break-before: always;
    }
}

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
}

.updates {
    color: blue;
    font-style: italic;
}

.document {
    background-color: white;
    margin-bottom: 50px;
    -moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
    -webkit-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
    -moz-box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
    box-shadow: 10px 10px 5px 0px rgba(153,153,153,1);
    padding: 40px;
}

body {
    background-color: #dadada;
}

h1 {
    font-family: 'PT Sans', sans-serif;
    font-weight: 700;
}

h2 {
    font-family: 'PT Sans', sans-serif;
    font-weight: bold;
    margin-top: 30px;
}

h3 {
    font-family: 'PT Sans', sans-serif;
    margin-top: 20px;
}

.nopadding-two {
    padding-right:45px !important;
}

.top-buffer {
    margin-top:25px;
}

.faq dl {
    margin: 0;
    padding: 0;
}

.faq dt {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.faq dt:before {
    content: "Q: ";
}

.faq dd:before {
    content: "A: ";
}
.faq dd {
    margin: 0 0 1em 0;
    padding: 0;
}